:root{
    box-sizing: content-box;
    margin: 40px;
    overflow: hidden
}

body {
    
    font-family: 'Josefin Sans',
    sans-serif;
}

#map,
#map2
{
    max-height: 150px;

}

.results{
  
   font-size: 14px;
   line-height: 350%;
justify-content: center;
text-align: center;

}
#wrapper{
    opacity:0.8
    
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    opacity: 0.4
}
img{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    
}
#weather_block{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #0000001d;
    
}

 @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}
